cmake
wheel
numpy
hydra-core
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
mmh3
pytorch-lightning
lightning_lite
torch
torchvision
gitpython
scipy
sentence-transformers
setuptools
gymnasium
moviepy
tqdm
termcolor
wandb
