cmake
wheel
numpy
hydra-core
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
mmh3
pytorch-lightning
lightning_lite
torch
torchvision
MulticoreTSNE
gitpython
scipy
sentence-transformers
setuptools
gym
moviepy
tqdm
termcolor
wandb
